@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #595550;
  --background-color: #f5f5f4;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}
div[class^='timeit-selected'], div[class*=' timeit-selected']{
  color: #5f5c5b;
  font-weight: 500;
}
div[class^='timeit-control'] > svg > path{
  fill: #a8a29e;
}